<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 通过别名简化对类的使用 -->
	<typeAliases>

		<package name="xyz.zwc.waimai.entity" />
	</typeAliases>

	<!-- <mappers> <mapper resource="cn/itcast/scm/entity/DeptMapper.xml" /> 
		</mappers> -->
</configuration>